**/__pycache__/*
*.pyc
**/*.png
**/.DS_Store
**/*.parquet
**/rates.py
objectPerformance/**/*.root
objectPerformance/outputs/**/*
outputs
rates/table/out/*
rates/table/cache/**/*
rates/table/lib/*
**/tmp/*
*.egg-info
